@page "/"
@namespace ElCortijo.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ElCortijo</title>
    <base href="~/" />

    @* css *@
    <link rel="stylesheet" href="css/animate.css" />
    <link rel="stylesheet" href="css/baguetteBox.min.css" />
    <link rel="stylesheet" href="css/bootstrap.min.css" />
    <link rel="stylesheet" href="css/classic.css" />
    <link rel="stylesheet" href="css/classic.date.css" />
    <link rel="stylesheet" href="css/classic.time.css" />
    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/font-awesome.min.css" />
    <link rel="stylesheet" href="css/responsive.css" />
    <link rel="stylesheet" href="css/style.css" />
    <link rel="stylesheet" href="css/site.css" />
    <link rel="stylesheet" href="css/superslides.css" />
    <link rel="stylesheet" href="css/fonts/css/all.css" />

    @* Mapa *@
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyD5d0dTZ-8BxrjcmT1JjGcnnPmvBhXDJVc"></script>
    <script>
        function initialize() {
            var latlng = new google.maps.LatLng(18.473199491055887, -69.9332758342303);
            var options = {
                zoom: 19, center: latlng,
                mapTypeId: google.maps.MapTypeId.ROADMAP
            };
            var map = new google.maps.Map(document.getElementById
                ("map"), options);
        }
    </script>

</head>
<body>

    <component type="typeof(App)" render-mode="ServerPrerendered" />

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            Ocurrio un error, es necesario reiniciar.
        </environment>
        <environment include="Development">
            Ocurrio un error. Es necesario chequear la consola del deployment.
        </environment>
        <a href="" class="reload">Recargar</a>
        <a class="dismiss">🗙</a>
    </div>

    <script src="_framework/blazor.server.js"></script>

    @* JS *@
    <script src="js/jquery-3.2.1.min.js"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/jquery.superslides.min.js"></script>
    <script src="js/images-loded.min.js"></script>
    <script src="js/baguetteBox.min.js"></script>
    <script src="js/custom.js"></script>

</body>
</html>


