@page "/informacion"


<div class="all-page-title page-breadcrumb-contacto">
    <div class="container text-center">
        <div class="row">
            <div class="col-lg-12">
                <h1>Sobre nosotros</h1>
            </div>
        </div>
    </div>
</div>

<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6">
                <img src="Imagenes/about-img.jpg" alt="" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 text-center">
                <div class="inner-column">
                    <h1>Bienvenido a <span>el Cortijo</span></h1>
                    <h4>Nuestra visión</h4>
                    <p>Un pedacito de México en la República Dominicana donde podrás saborear la gastronómia mexicana representada en una exquisita variedad de platillos. </p>

                    <p>Un restaurante exquisito a precio asequible que brinda a los comensales la oportunidad de degustar los mejores platos típicos de México en un solo lugar.</p>

                    <p>
                        Tomando como estrategia principal el mejoramiento continúo de los estrictos estándares de higiene y buen servicio en un ambiente seguro, agradable y familiar a un precio justo.
                    </p>
                </div>
            </div>
            <div class="col-md-12">
                <div class="inner-pt">
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>