@page "/staff"

<div class="stuff-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="heading-title text-center">
                    <h2>Grupo Staff</h2>
                    <p>Nuestros profesionales</p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <img src="Imagenes/staff-niño.jpg">
                    <div class="team-content">
                        <h3 class="title">Antonio de la Paz</h3>
                        <span class="post">Jefe</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <img src="Imagenes/staff-lissy.jpg">
                    <div class="team-content">
                        <h3 class="title">Lissy de la Paz</h3>
                        <span class="post">Caja</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <img src="Imagenes/staff-yaveh.jpg">
                    <div class="team-content">
                        <h3 class="title">Yaveh Arache</h3>
                        <span class="post">Caja</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <img src="Imagenes/staff-francisco.jpg">
                    <div class="team-content">
                        <h3 class="title">Francisco Arturo Hiciano</h3>
                        <span class="post">Cocina</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <img src="Imagenes/staff-carlos.jpg">
                    <div class="team-content">
                        <h3 class="title">Carlos Mateo</h3>
                        <span class="post">Cocina Japonesa</span>
                    </div>
                </div>
            </div>

            <div class="col-md-4 col-sm-6">
                <div class="our-team">
                    <img src="Imagenes/staff-heiny.jpg">
                    <div class="team-content">
                        <h3 class="title">Heinys Padilla</h3>
                        <span class="post">Cocina</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>