<div class="about-section-box">
    <div class="container">
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-12">
                <img src="Imagenes/about-img.jpg" alt="Grupo Staff" class="img-fluid">
            </div>
            <div class="col-lg-6 col-md-6 col-sm-12 text-center">
                <div class="inner-column">
                    <h1>Bienvenido a <span>el Cortijo</span></h1>
                    <h4>Descripcion del local</h4>
                    <p>Un pedacito de México en la República Dominicana donde podrás saborear la gastronómia mexicana representada en una exquisita variedad de platillos. </p>

                    <p>Un restaurante exquisito a precio asequible que brinda a los comensales la oportunidad de degustar los mejores platos típicos de México en un solo lugar.</p>

                    <p>
                        Tomando como estrategia principal el mejoramiento continúo de los estrictos estándares de higiene y buen servicio en un ambiente seguro, agradable y familiar a un precio justo.
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>