@inherits LayoutComponentBase

<header>
    <NavMenu />
</header>

<body>
    <br/> <br />
    @Body

    <div class="contact-imfo-box">
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <i class="fas fa-volume-control-phone"></i>
                    <div class="overflow-hidden">
                        <h4>Telefono</h4>
                        <p class="lead">
                            (809) 567-7383
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-envelope"></i>
                    <div class="overflow-hidden">
                        <h4>Correo</h4>
                        <p class="lead">
                            cortinino@gmail.com
                        </p>
                    </div>
                </div>
                <div class="col-md-4">
                    <i class="fas fa-map-marker"></i>
                    <div class="overflow-hidden">
                        <h4>Ubicacion</h4>
                        <p class="lead">
                            Calle Andrés Julio Aybar, Santo Domingo
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<footer class="footer-area bg-f">
   <FooterMain />
</footer>

<a href="#" id="back-to-top" title="Volver arriba" style="display: none;">&uarr;</a>
